.navbar-brand img {
  width: auto;
  height: 40px;
}

img.screenshot {
  width: 100%;
  height: auto;
}

img.logo {
  max-width: 150px;
  height: auto;
}

img.footer-logo {
  max-width: 50px;
  height: auto;
}

section.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  border-radius: 0.3rem;
}

div.row {
  margin-bottom: 1.5rem;
}

.navbar-toggler {
  border: none; /* Remove default border */
  padding: 0.25rem 0.75rem; /* Adjust padding for better click area */
  background-color: transparent; /* Make background transparent */

  outline: none !important; /* Remove outline for better aesthetics */
  background-color: transparent !important; /* Transparent background for the icon */
  border: none !important; /* Remove border */
}

.navbar-toggler-icon {
  display: block; /* Ensure it takes up space */
  position: relative; /* For positioning the pseudo-elements */
  width: 30px; /* Adjust as needed */
  height: 3px; /* Thickness of one "slice" */
  background-color: #333; /* Color of the burger slices */
  transition: background-color 0.3s ease; /* Smooth transition for color */
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: ''; /* Essential for pseudo-elements */
  position: absolute;
  width: 100%;
  height: 3px; /* Thickness of one "slice" */
  background-color: #333; /* Color of the burger slices */
  left: 0;
  transition: transform 0.3s ease; /* Smooth transition for movement */
}

.navbar-toggler-icon::before {
  top: -10px; /* Position the top slice */
}

.navbar-toggler-icon::after {
  top: 10px; /* Position the bottom slice */
}

/* Optional: Styles for when the button is "open" (e.g., to transform into an X) */
/* You would typically add a class to the button or the icon when it's open, e.g., 'navbar-toggler-icon--open' */

.navbar-toggler-icon.navbar-toggler-icon--open {
  background-color: transparent; /* Remove middle slice */
}

.navbar-toggler-icon.navbar-toggler-icon--open::before {
  transform: translateY(10px) rotate(45deg); /* Rotate */
}

.navbar-toggler-icon.navbar-toggler-icon--open::after {
  transform: translateY(-10px) rotate(-45deg); /* Rotate */
}
