    <footer class="container text-center" th:fragment="common-footer">
			<p>
				<a href="https://www.openpreservation.org" target="_blank" rel="noopener noreferrer">
					<img th:src="@{/img/opf-logo.png}" alt="Open Preservation Foundation logo" class="d-inline-block align-top footer-logo" />
				</a>
			</p>
    	<p>Copyright © 2025 Open Preservation Foundation.</p>
  	</footer>
		<script type="text/javascript" th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
